{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {kura, {git, "https://github.com/Taure/kura.git", {branch, "main"}}},
    {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
    {seki, {git, "https://github.com/Taure/seki.git", {branch, "main"}}}
]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    rebar3_lint,
    rebar3_hank,
    {rebar3_audit, {git, "https://github.com/Taure/rebar3_audit.git", {branch, "main"}}},
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    covertool
]}.

{erlfmt, [write]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns, unknown]},
    {plt_apps, all_deps},
    {plt_extra_apps, [kura]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions]}.

{ct_opts, [
    {dir, "test"},
    {extra_src_dirs, ["test"]}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {deps, []}
    ]}
]}.

{cover_enabled, true}.

{ex_doc, [
    {extras, [
        <<"guides/getting-started.md">>,
        <<"guides/configuration.md">>,
        <<"guides/rate-limiting.md">>
    ]},
    {main, <<"getting-started">>},
    {source_url, <<"https://github.com/novaframework/nova_auth">>}
]}.
